<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1047749727633-jfhn3b7t8nfmq2sqpn6odcqfbila4flu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1047749727633-jfhn3b7t8nfmq2sqpn6odcqfbila4flu</string>
	<key>API_KEY</key>
	<string>AIzaSyDeYmnGlZbbjm2pIRXyMMOL1-75B3wLpvA</string>
	<key>GCM_SENDER_ID</key>
	<string>1047749727633</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.merusoft.testpush1</string>
	<key>PROJECT_ID</key>
	<string>smart-office-merusoft</string>
	<key>STORAGE_BUCKET</key>
	<string>smart-office-merusoft.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1047749727633:ios:597f603a8e819551933630</string>
	<key>DATABASE_URL</key>
	<string>https://smart-office-merusoft.firebaseio.com</string>
</dict>
</plist>